body {
    overflow-y: scroll;
}

.table-column-minimize {
    width: 0;
}

@media (min-width: 992px) {
    .container-small {
	width: 800px;
    }
}

.container-small {
    max-width: 100%;
}

#entry-info a:link {
    text-decoration: none;
}

.attachment-col img, .attachment-col video, .attachment-col .attachment-text {
    max-width: 100%;
}

.attachment-text {
    border: 1px solid #cccccc;
    padding: 10px 10px 0px 10px;
}

.search-result {
    width: 262px;
}
