<!doctype html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/static/bootstrap.min.css" rel="stylesheet"/>
	<link href="/static/bootstrap-icons.css" rel="stylesheet"/>
	<link href="/static/keeper.css" rel="stylesheet"/>
	<title>Keeper &raquo; Authors</title>
    </head>
    <body>
	{% include "common-nav.html" %}
	<div class="container container-small">
	    <div class="row justify-content-center">
		<div class="col">
		    <div class="my-3">
			<h3>Create author</h3>
		    </div>
		</div>
	    </div>
	    <form action="/author/new" method="post">
		<div class="row justify-content-center mb-2">
		    <div class="col">
			<input name="author_name" type="text" class="form-control" placeholder="Author name" pattern="[A-Za-z0-9 _\.-]+" required>
		    </div>
		</div>
		<div class="row justify-content-center mb-2">
		    <div class="col">
			<select name="author_namespace" class="form-select" required>
			    <option value="" selected disabled>Namespace</option>
			    {% for namespace in all_namespaces %}
			    <option value="{{ namespace.id }}">{{ namespace.name }}</option>
			    {% endfor %}
			</select>
		    </div>
		</div>
		<div class="row justify-content-center mb-2">
		    <div class="col">
			<button type="submit" class="form-control btn btn-primary">Create</button>
		    </div>
		</div>
	    </form>
	    <div class="row justify-content-center">
		<div class="col">
		    <div class="my-3">
			<h3>Orphaned authors</h3>
		    </div>
		</div>
	    </div>
	    <div class="row justify-content-center">
		<div class="col">
		    <table class="table">
			<tbody>
			    {% for author in orphans %}
			    <tr>
				<td class="table-column-minimize">
				    {{ author.id }}
				</td>
				<td>
				    {% for namespace in all_namespaces %}
				    {% if namespace.id == author.namespace %}
				    <a href="/author/{{ author.id }}">{{ author.name }}</a> ({{ namespace.name }})
				    {% endif %}
				    {% endfor %}
				</td>
			    </tr>
			    {% endfor %}
			</tbody>
		    </table>
		</div>
	    </div>
	</div>
	<script src="/static/bootstrap.min.js" crossorigin="anonymous"></script>
	<script src="/static/jquery-3.6.0.min.js"></script>
    </body>
</html>
