<!doctype html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/static/bootstrap.min.css" rel="stylesheet"/>
	<link href="/static/bootstrap-icons.css" rel="stylesheet"/>
	<link href="/static/keeper.css" rel="stylesheet"/>
	<title>Keeper &raquo; Collection</title>
    </head>
    <body>
	{% include "common-nav.html" %}
	<div class="container container-small">
	    <div class="row justify-content-center">
		<div class="col">
		    <div class="my-3">
			<h3>{{ collection.name }}</h3>
		    </div>
		</div>
	    </div>
	    <div class="row justify-content-center">
		<div class="col">
		    <table class="table">
			<thead>
			    <tr>
				<th scope="col" class="table-column-minimize">#</th>
				<th scope="col">Entry</th>
			    </tr>
			</thead>
			<tbody>
			    {% for entry in entries %}
			    <tr>
				<th scope="row">
				    {{ entry.position }}
				</th>
				<td>
				    <a href="/entry/{{ entry.entry.id }}">{{ entry.entry.title | default(value="[untitled]") }}</a>
				</td>
			    </tr>
			    {% endfor %}
			    {% if permission is defined and permission in ["Write", "Admin"] %}
			    <tr>
				<th scope="row" class="align-middle">
				    +
				</th>
				<td>
				    <form action="/collection/{{ collection.id }}/append" method="post">
					<div class="input-group">
					    <input name="entry_id" type="text" class="form-control form-control-sm" placeholder="Entry ID">
					    <button type="submit" class="btn btn-secondary btn-sm">Append</button>
					</div>
				    </form>
				</td>
			    </tr>
			    {% endif %}
			</tbody>
		    </table>
		</div>
	    </div>
	</div>
	<script src="/static/bootstrap.min.js" crossorigin="anonymous"></script>
	<script src="/static/jquery-3.6.0.min.js"></script>
    </body>
</html>
