<!doctype html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/static/bootstrap.min.css" rel="stylesheet"/>
	<link href="/static/bootstrap-icons.css" rel="stylesheet"/>
	<link href="/static/keeper.css" rel="stylesheet"/>
	<title>Keeper &raquo; Collections</title>
    </head>
    <body>
	{% include "common-nav.html" %}
	<div class="container container-small">
	    <div class="row justify-content-center">
		<div class="col">
		    <div class="my-3">
			<h3>Create collection</h3>
		    </div>
		</div>
	    </div>
	    <form action="/collection/new" method="post">
		<div class="row justify-content-center mb-2">
		    <div class="col">
			<input name="collection_name" type="text" class="form-control" placeholder="Collection name">
		    </div>
		</div>
		<div class="row justify-content-center mb-2">
		    <div class="col">
			<button type="submit" class="form-control btn btn-primary">Create</button>
		    </div>
		</div>
	    </form>
	    <div class="row justify-content-center">
		<div class="col">
		    <div class="my-3">
			<h3>Orphaned collections</h3>
		    </div>
		</div>
	    </div>
	    <div class="row justify-content-center">
		<div class="col">
		    <table class="table">
			<tbody>
			    {% for collection in orphans %}
			    <tr>
				<td>
				    <a href="/collection/{{ collection.id }}">{{ collection.name }}</a>
				</td>
			    </tr>
			    {% endfor %}
			</tbody>
		    </table>
		</div>
	    </div>
	</div>
	<script src="/static/bootstrap.min.js" crossorigin="anonymous"></script>
	<script src="/static/jquery-3.6.0.min.js"></script>
    </body>
</html>
