	<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
	    <div class="container-fluid">
		<a class="navbar-brand" href="/">Keeper</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
			{% if username is defined %}
			<li class="nav-item dropdown">
			    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				Browse
			    </a>
			    <ul class="dropdown-menu dropdown-menu" aria-labelledby="navbarDropdown">
				<li>
				    <form action="/search/results" method="get">
					<input name="tags" type="text" class="form-control dropdown-item" placeholder="Quick search">
				    </form>
				</li>
				<li><hr class="dropdown-divider"></li>
				<li><a class="dropdown-item" href="/search">Advanced search</a></li>
				<li><a class="dropdown-item" href="/tags">Tags</a></li>
				<li><a class="dropdown-item" href="/random">Random</a></li>
			    </ul>
			</li>
			<li class="nav-item dropdown">
			    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				Manage
			    </a>
			    <ul class="dropdown-menu dropdown-menu" aria-labelledby="navbarDropdown">
				<li><a class="dropdown-item" href="/entry/new">New entry</a></li>
				<li><hr class="dropdown-divider"></li>
				<li><a class="dropdown-item" href="/authors">Authors</a></li>
				<li><a class="dropdown-item" href="/collections">Collections</a></li>
				{% if permission is defined and permission == "Admin" %}
				<li><a class="dropdown-item" href="/users">Users</a></li>
				<li><a class="dropdown-item" href="/namespaces">Namespaces</a></li>
				{% endif %}
			    </ul>
			</li>
			{% endif %}
		    </ul>
		    <ul class="navbar-nav">
			{% if username is defined %}
			<li class="nav-item dropdown">
			    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				{{ username }}
			    </a>
			    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
				<li><a class="dropdown-item" href="/settings">Settings</a></li>
				<li><hr class="dropdown-divider"></li>
				<li><a class="dropdown-item" href="/logout">Logout</a></li>
			    </ul>
			</li>
			{% endif %}
		    </ul>
		</div>
	    </div>
	</nav>
