<!doctype html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/static/bootstrap.min.css" rel="stylesheet"/>
	<link href="/static/bootstrap-icons.css" rel="stylesheet"/>
	<link href="/static/keeper.css" rel="stylesheet"/>
	<title>Keeper &raquo; Entry</title>
    </head>
    <body>
	{% include "common-nav.html" %}
	<div class="container container-small">
	    <div class="row justify-content-center">
		<div class="col">
		    <div class="my-3">
			<h3>
			    {{ entry.title | default(value="[untitled]") }}
			    <a data-bs-toggle="collapse" href="#entry-info" role="button"><i class="bi-info-circle"></i></a>
			    <a data-bs-toggle="collapse" href="#entry-collections" role="button"><i class="bi-collection"></i></a>
			</h3>
		    </div>
		</div>
	    </div>
	    <div class="row justify-content-center">
		<div class="col">
		    <div class="collapse" id="entry-info">
			<div class="card mb-3">
			    <div class="card-body">
				{% if author is object %}
				<div class="mb-2">
				    by <a href="/author/{{ author.id }}">{{ author.name }}</a> on {{ namespace.name }}
				    <hr/>
				</div>
				{% endif %}
				<div class="my-2">
				{% if entry.source is string %}
				<a href="{{ entry.source }}">
				    Source
				    {% if entry.source_is_orig %}
					(original)
				    {% else %}
					(non-original)
				    {% endif %}
				</a>
				{% else %}
				No source
				{% endif %}
				<hr/>
				</div>
				{% if entry.comment is string %}
				<div class="mb-2">
				    {{ entry.comment }}
				    <hr/>
				</div>
				{% endif %}
				{% if tags | length != 0 %}
				<div class="mt-2">
				    {% for tag in tags %}
				    <a href="/tag/{{ tag }}" role="button" class="btn btn-primary btn-sm mb-1">{{ tag }}</a>
				    {% endfor %}
				</div>
				{% endif %}
			    </div>
			</div>
		    </div>
		</div>
	    </div>
	    <div class="row justify-content-center">
		<div class="col">
		    {% if collections | length > 0 %}
		    <div class="collapse show" id="entry-collections">
		    {% else %}
		    <div class="collapse" id="entry-collections">
		    {% endif %}
			<div class="card mb-3">
			    <div class="card-body">
				<table class="table">
				    <thead>
					<tr>
					    <th scope="col" class="table-column-minimize"><i class="bi-arrow-left"></i></th>
					    <th scope="col" class="table-column-minimize"><i class="bi-arrow-right"></i></th>
					    <th scope="col" class="text-center">Collection</th>
					    <th scope="col" class="table-column-minimize">#</th>
					    <th scope="col" class="table-column-minimize">of</th>
					</tr>
				    </thead>
				    <tbody>
					{% for collection in collections %}
					<tr>
					    <td>
						{% if collection.prev %}
						<a href="/entry/{{ collection.prev.id }}" title="{{ collection.prev.title }}"><i class="bi-arrow-left"></i></a>
						{% endif %}
					    </td>
					    <td>
						{% if collection.next %}
						<a href="/entry/{{ collection.next.id }}" title="{{ collection.next.title }}"><i class="bi-arrow-right"></i></a>
						{% endif %}
					    </td>
					    <td class="text-center"><a href="/collection/{{ collection.collection.id }}">{{ collection.collection.name }}</a></td>
					    <td>{{ collection.position }}</td>
					    <td>{{ collection.quantity }}</td>
					</tr>
					{% endfor %}
				    </tbody>
				</table>
			    </div>
			</div>
		    </div>
		</div>
	    </div>
	    {% for attachment in attachments %}
	    <div class="row justify-content-center mb-3">
		<div class="col attachment-col">
		    {% if attachment.0 == "Image" %}
		    <a href="{{ attachment.1 }}"><img src="{{ attachment.1 }}" title="{{ attachment.2 }}"/></a>
		    {% elif attachment.0 == "Video" %}
		    <video controls loop>
			<source src="{{ attachment.1 }}">
		    </video>
		    {% elif attachment.0 == "Text" %}
		    <div class="attachment-text">
{{ attachment.1 }}
		    </div>
		    {% endif %}
		</div>
	    </div>
	    {% endfor %}
	</div>
	<script src="/static/bootstrap.min.js" crossorigin="anonymous"></script>
	<script src="/static/jquery-3.6.0.min.js"></script>
	<script src="/static/marked.min.js"></script>
	<script src="/static/keeper-markdown.js"></script>
    </body>
</html>
