<!doctype html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/static/bootstrap.min.css" rel="stylesheet"/>
	<link href="/static/keeper.css" rel="stylesheet"/>
	<title>Keeper &raquo; Login</title>
    </head>
    <body>
	{% include "common-nav.html" %}
	<div class="container container-small">
	    <div class="row justify-content-center">
		<div class="col">
		    <form action="/login/do" method="post">
			<div class="my-3">
			    <h1>Login</h1>
			</div>
			<div class="my-3">
			    <input name="username" type="text" class="form-control" placeholder="Username">
			</div>
			<div class="my-3">
			    <input name="password" type="password" class="form-control" placeholder="Password">
			</div>
			<div class="my-3">
			    <button type="submit" class="form-control btn btn-primary">Login</button>
			</div>
		    </form>
		</div>
	    </div>
	</div>
	<script src="/static/bootstrap.min.js" crossorigin="anonymous"></script>
    </body>
</html>
