<!doctype html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/static/bootstrap.min.css" rel="stylesheet"/>
	<link href="/static/bootstrap-icons.css" rel="stylesheet"/>
	<link href="/static/keeper.css" rel="stylesheet"/>
	<title>Keeper &raquo; Namespaces</title>
    </head>
    <body>
	{% include "common-nav.html" %}
	<div class="container container-small">
	    <div class="row justify-content-center">
		<div class="col">
		    <div class="my-3">
			<h1>Namespaces</h1>
		    </div>
		</div>
	    </div>
	    <div class="row justify-content-center">
		<div class="col">
		    <table class="table table-striped">
			<thead>
			    <tr>
				<th scope="col" class="table-column-minimize">id</th>
				<th scope="col">namespace</th>
				<th scope="col" class="table-column-minimize">upd.</th>
			    </tr>
			</thead>
			<tbody>
			    <form action="/namespace/create" method="post">
				<tr class="table-info">
				    <th scope="row" class="align-middle">+</th>
				    <td class="align-middle">
					<input type="text" class="form-control" name="name" placeholder="new namespace" required>
				    </td>
				    <td class="align-middle">
					<button type="submit" class="btn btn-primary">
					    <i class="bi-plus-square"></i>
					</button>
				    </td>
				</tr>
			    </form>
			    {% for namespace in all_namespaces %}
			    <form action="/namespace/update/{{ namespace.id }}" method="post">
				<tr>
				    <th scope="row" class="align-middle">{{ namespace.id }}</th>
				    <td class="align-middle">
					<input type="text" class="form-control" name="name" placeholder="{{ namespace.name }}">
				    </td>
				    <td class="align-middle">
					<button type="submit" class="btn btn-primary">
					    <i class="bi-pencil-square"></i>
					</button>
				    </td>
				</tr>
			    </form>
			    {% endfor %}
			</tbody>
		    </table>
		</div>
	    </div>
	</div>
	<script src="/static/bootstrap.min.js" crossorigin="anonymous"></script>
    </body>
</html>
