<!doctype html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/static/bootstrap.min.css" rel="stylesheet"/>
	<link href="/static/bootstrap-icons.css" rel="stylesheet"/>
	<link href="/static/keeper.css" rel="stylesheet"/>
	<title>Keeper &raquo; New entry</title>
    </head>
    <body>
	{% include "common-nav.html" %}
	<div class="container container-small">
	    <div class="row justify-content-center">
		<div class="col">
		    <div class="my-3">
			<h1>New entry</h1>
		    </div>
		</div>
	    </div>
	    <div class="row justify-content-center">
		<div class="col">
		    <form action="/entry/new/do" method="post" enctype="multipart/form-data">
			<div class="row my-3">
			    <div class="col">
				<input name="title" type="text" class="form-control" placeholder="Title">
			    </div>
			</div>
			<div class="row my-3">
			    <div class="col">
				<input name="source-url" type="url" class="form-control" placeholder="Source URL">
			    </div>
			    <div class="col-5">
				<select name="source-type" class="form-select">
				    <option value="original">Original</option>
				    <option value="non-original">Non-original</option>
				</select>
			    </div>
			</div>
			<div class="row my-3">
			    <div class="col">
				<input name="comment" type="text" class="form-control" placeholder="Comment">
			    </div>
			</div>
			<div class="row my-3">
			    <div class="col">
				<input name="tags" type="text" class="form-control" placeholder="Tags (space-separated)">
			    </div>
			</div>
			<div class="row my-3">
			    <div class="col">
				<input name="author-id" id="author-id" type="hidden" required>
				<div class="input-group">
				    <input name="author-name" id="author-name" type="text" class="form-control" placeholder="Author" disabled="disabled">
				    <input id="author-query" type="text" class="form-control" placeholder="Search author">
				    <button type="button" class="btn btn-secondary" id="button-search-authors"><i class="bi-search"></i></button>
				</div>
			    </div>
			</div>
			<div id="attachments" data-next-id="1">
			</div>
			<div class="row my-3">
			    <div class="col">
				<button type="button" class="btn btn-secondary form-control" id="button-add-attachment">Add attachment</button>
			    </div>
			    <div class="col">
				<button type="button" class="btn btn-secondary form-control" id="button-add-text">Add text</button>
			    </div>
			</div>
			<div class="row my-3">
			    <div class="col">
				<button type="submit" class="btn btn-primary form-control" onClick="return checkActive()">Create</button>
			    </div>
			</div>
		    </form>
		</div>
	    </div>
	</div>
	<div class="modal fade" id="modal-author-select">
	    <div class="modal-dialog">
		<div class="modal-content">
		    <div class="modal-header">
			<h5 class="modal-title">Select author</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
		    </div>
		    <div class="modal-body">
			<div class="input-group">
			<select class="form-select" id="select-authors">
			</select>
			<button type="button" class="btn btn-primary" id="button-select-author"><i class="bi-arrow-right"></i></button>
			</div>
		    </div>
		</div>
	    </div>
	</div>
	<script src="/static/bootstrap.min.js" crossorigin="anonymous"></script>
	<script src="/static/jquery-3.6.0.min.js"></script>
	<script src="/static/Sortable.min.js" crossorigin="anonymous"></script>
	<script src="/static/jquery-sortable.js" crossorigin="anonymous"></script>
	<script src="/static/keeper-form.js"></script>
    </body>
</html>
