<!doctype html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/static/bootstrap.min.css" rel="stylesheet"/>
	<link href="/static/bootstrap-icons.css" rel="stylesheet"/>
	<link href="/static/keeper.css" rel="stylesheet"/>
	<title>Keeper &raquo; Search results</title>
    </head>
    <body>
	{% include "common-nav.html" %}
	<div class="container-fluid">
	    <div class="row">
		<div class="col-12 col-lg-9">
		    <div class="row">
			<div class="column">
			    <h1 class="py-2">Results</h1>
			</div>
		    </div>
		    <div class="row">
			<div class="column">
			    <div class="row row-cols-auto">
				{% for result in results %}
				<div class="col mb-4">
				    <a href="/entry/{{ result.id }}" class="text-decoration-none">
					<div class="card search-result">
					    <div class="card-header">
						<h5>{{ result.title | default(value="[untitled]") }}</h5>
					    </div>
					    {% if result.thumbnail | default(value="") != "" %}
					    <img src="/media/{{ result.thumbnail }}"/>
					    {% else %}
					    <img src="/static/nothumb.png"/>
					    {% endif %}
					</div>
				    </a>
				</div>
				{% endfor %}
			    </div>
			</div>
		    </div>
		</div>
		<div class="col-12 col-lg-3">
		    <form action="/search/results" method="get">
			<div class="p-3">
			    <div class="row pb-2">
				<input name="tags" type="text" class="form-control" placeholder="Tags (space-separated)" value="{{ form["tags"] }}">
			    </div>
			    <div class="row">
				<button type="submit" class="btn btn-primary form-control">Search</button>
			    </div>
			</div>
		    </form>
		</div>
	    </div>
	</div>
	<script src="/static/bootstrap.min.js" crossorigin="anonymous"></script>
	<script src="/static/jquery-3.6.0.min.js"></script>
    </body>
</html>
