<!doctype html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/static/bootstrap.min.css" rel="stylesheet"/>
	<link href="/static/bootstrap-icons.css" rel="stylesheet"/>
	<link href="/static/keeper.css" rel="stylesheet"/>
	<title>Keeper &raquo; Home</title>
    </head>
    <body>
	{% include "common-nav.html" %}
	<div class="container container-small">
	    <div class="row justify-content-center">
		<div class="col">
		    <div class="my-3">
			<h1>Welcome, {{ username }}!</h1>
			<h3>Permission level: {{ permission | lower }}</h3>
		    </div>
		</div>
	    </div>
	</div>
	<script src="/static/bootstrap.min.js" crossorigin="anonymous"></script>
    </body>
</html>
