<!doctype html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/static/bootstrap.min.css" rel="stylesheet"/>
	<link href="/static/bootstrap-icons.css" rel="stylesheet"/>
	<link href="/static/keeper.css" rel="stylesheet"/>
	<title>Keeper &raquo; Search</title>
    </head>
    <body>
	{% include "common-nav.html" %}
	<div class="container container-small">
	    <div class="row justify-content-center">
		<div class="col">
		    <div class="my-3">
			<h1>Search</h1>
		    </div>
		</div>
	    </div>
	    <div class="row justify-content-center">
		<div class="col">
		    <form action="/search/results" method="get">
			<div class="row my-3">
			    <div class="col">
				<input name="tags" type="text" class="form-control" placeholder="Tags (space-separated)">
			    </div>
			</div>
			<div class="row my-3">
			    <div class="col">
				<button type="submit" class="btn btn-primary form-control">Search</button>
			    </div>
			</div>
		    </form>
		</div>
	    </div>
	</div>
	<script src="/static/bootstrap.min.js" crossorigin="anonymous"></script>
	<script src="/static/jquery-3.6.0.min.js"></script>
    </body>
</html>
