<!doctype html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/static/bootstrap.min.css" rel="stylesheet"/>
	<link href="/static/bootstrap-icons.css" rel="stylesheet"/>
	<link href="/static/keeper.css" rel="stylesheet"/>
	<title>Keeper &raquo; Tag</title>
    </head>
    <body>
	{% include "common-nav.html" %}
	<div class="container container-small">
	    <div class="row justify-content-center">
		<div class="col">
		    <div class="my-3">
			<h3>Tag: {{ tag.name }}</h3>
		    </div>
		</div>
	    </div>
	    <form action="/tag/{{ tag.name }}/update" method="post">
		<div class="row justify-content-center mb-2">
		    <div class="col">
			{% if tag.description is string %}
			<textarea name="description" class="form-control" placeholder="Description">{{ tag.description }}</textarea>
			{% else %}
			<textarea name="description" class="form-control" placeholder="Enter description here"></textarea>
			{% endif %}
		    </div>
		</div>
		<div class="row justify-content-center mb-2">
		    <div class="col">
			{% if tag.description is string %}
			<button type="submit" class="form-control btn btn-secondary">Update</button>
			{% else %}
			<button type="submit" class="form-control btn btn-primary">Add description</button>
			{% endif %}
		    </div>
		</div>
	    </form>
	</div>
	<script src="/static/bootstrap.min.js" crossorigin="anonymous"></script>
	<script src="/static/jquery-3.6.0.min.js"></script>
    </body>
</html>
