<!doctype html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/static/bootstrap.min.css" rel="stylesheet"/>
	<link href="/static/bootstrap-icons.css" rel="stylesheet"/>
	<link href="/static/keeper.css" rel="stylesheet"/>
	<title>Keeper &raquo; Tags</title>
    </head>
    <body>
	{% include "common-nav.html" %}
	<div class="container container-small">
	    <div class="row justify-content-center">
		<div class="col">
		    <div class="my-3">
			<h3>Tags</h3>
		    </div>
		</div>
	    </div>
	    <div class="row justify-content-center">
		<div class="col">
		    <table class="table">
			<thead>
			    <tr>
				<th scope="col">Tag</th>
				<th scope="col" class="text-end">Entry count</th>
			    </tr>
			</thead>
			<tbody>
			    {% for stat in stats %}
			    <tr>
				<td>
				    <a href="/tag/{{ stat.tag }}" class="text-decoration-none">{{ stat.tag }}</a>
				</td>
				<td class="text-end">
				    <a href="/search/results?tags={{ stat.tag }}" class="text-decoration-none">{{ stat.occurrences }}</a>
				</td>
			    </tr>
			    {% endfor %}
			</tbody>
		    </table>
		</div>
	    </div>
	</div>
	<script src="/static/bootstrap.min.js" crossorigin="anonymous"></script>
	<script src="/static/jquery-3.6.0.min.js"></script>
    </body>
</html>
