<!doctype html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/static/bootstrap.min.css" rel="stylesheet"/>
	<link href="/static/bootstrap-icons.css" rel="stylesheet"/>
	<link href="/static/keeper.css" rel="stylesheet"/>
	<title>Keeper &raquo; Users</title>
    </head>
    <body>
	{% include "common-nav.html" %}
	<div class="container container-small">
	    <div class="row justify-content-center">
		<div class="col">
		    <div class="my-3">
			<h1>Users</h1>
		    </div>
		</div>
	    </div>
	    <div class="row justify-content-center">
		<div class="col">
		    <table class="table table-striped">
			<thead>
			    <tr>
				<th scope="col" class="table-column-minimize">id</th>
				<th scope="col">username</th>
				<th scope="col">permissions</th>
				<th scope="col" class="table-column-minimize">upd.</th>
			    </tr>
			</thead>
			<tbody>
			    <form action="/user/create" method="post">
				<tr class="table-info">
				    <th scope="row" class="align-middle">+</th>
				    <td class="align-middle">
					<input type="text" class="form-control" name="username" placeholder="new user" required>
				    </td>
				    <td class="align-middle">
					<select class="form-select" name="permissions" required>
					    <option value="" disabled selected>permissions</option>
					    <option value="read">read</option>
					    <option value="write">write</option>
					    <option value="admin">admin</option>
					</select>
				    </td>
				    <td class="align-middle">
					<button type="submit" class="btn btn-primary">
					    <i class="bi-person-plus"></i>
					</button>
				    </td>
				</tr>
			    </form>
			    {% for user in all_users %}
			    <form action="/user/update/{{ user.0 }}" method="post">
				<tr>
				    <th scope="row" class="align-middle">{{ user.0 }}</th>
				    <td class="align-middle">
					<input type="text" class="form-control" name="username" placeholder="{{ user.1 }}">
				    </td>
				    <td class="align-middle">
					<select class="form-select" name="permissions" required>
					    <option {% if user.2 == "Read" %} selected{% endif %} value="read">read</option>
					    <option {% if user.2 == "Write" %} selected{% endif %} value="write">write</option>
					    <option {% if user.2 == "Admin" %} selected{% endif %} value="admin">admin</option>
					</select>
				    </td>
				    <td class="align-middle">
					<button type="submit" class="btn btn-primary">
					    <i class="bi-pencil-square"></i>
					</button>
				    </td>
				</tr>
			    </form>
			    {% endfor %}
			</tbody>
		    </table>
		</div>
	    </div>
	</div>
	<script src="/static/bootstrap.min.js" crossorigin="anonymous"></script>
    </body>
</html>
